[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
pyxlsb = "*"
xlwings = "*"
pyyaml = "*"
openpyxl = "*"
tqdm = "*"
unidecode = "*"

[dev-packages]
autopep8 = "*"
black = "*"
yapf = "*"
ipykernel = "*"
snakeviz = "*"

[requires]
python_version = "3.9"
