[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tk = "*"
numpy = "*"
pandas = "*"
pyxlsb = "*"
xlwings = "*"
pymsgbox = "*"

[dev-packages]
autopep8 = "*"
black = "*"
yapf = "*"

[requires]
python_version = "3.9"
